<nav>
    <ul>
        <li><a href="/banking">Banking</a></li>
        <li><a href="/balance">Balance</a></li>
        <li><a href="/deposit">Deposit</a></li>
        <li><a href="/withdrawal">Withdrawal</a></li>
        <li><a href="/openAccount">Open an Account</a></li>
    </ul>
</nav>