{{header}}

<form action="/operation" method="post">
    <label>Select Operation:<br>
        <input type="radio" name="operation" value="balance"> Balance<br>
        <input type="radio" name="operation" value="deposit"> Deposit<br>
        <input type="radio" name="operation" value="openAccount"> Open an Account<br>
        <input type="radio" name="operation" value="withdrawal"> Withdrawal<br>
    </label>
    <br>
    <label>Enter Account Number:
        <input type="text" name="accountNumber">
    </label>
    <br>
    <button type="submit">Submit</button>
</form>

</div>
</body>

</html>