{{ header}}

<h2>Deposit</h2>
<p>Account Number: {{accountNumber}}</p>
<form action="/deposit" method="post">
    <label>Enter Deposit Amount:
        <input type="text" name="amount">
    </label>
    <br>
    <button type="submit">Deposit and Return</button>
</form>
<a href="/banking">Cancel and Return</a>
</div>
</body>

</html>